GroupModelTest.xcodeproj/xcuserdata/lizhi.xcuserdatad/xcschemes/xcschememanagement.plist
GroupModelTest.xcworkspace/xcuserdata/lizhi.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/lizhi.xcuserdatad/xcschemes/xcschememanagement.plist
